dist/
node_modules/
src-tauri/gen/
src-tauri/target/
src-tauri/icons/icon.iconset/
src-tauri/icons/android/
src-tauri/icons/ios/
src-tauri/icons/[0-9]*.png
src-tauri/icons/[0-9]*x[0-9]*.png
src-tauri/icons/Square*Logo.png
src-tauri/icons/StoreLogo.png
